body{
	font-size: 16px;
  	background-color: #FFFFFF;
  	font-family: 'Source Sans Pro', sans-serif;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#header-nav{
	background-color: #ffffff;
    margin-bottom:0;
    border-radius:0;
}

h2.sub-heading
{
	color: #D88BAF;
	font-weight: bold;
	text-align: center;
	/*font-family: 'PT Sans Narrow', sans-serif;*/
	font-size: 2em;
	font-family: 'Source Sans Pro', sans-serif;
}

h3 a.sub-heading
{
	color: #0f7fae;
	font-weight: bold;	
	text-decoration: none;
	/*font-family: 'Ranga', cursive;*/
	font-family: 'Source Sans Pro', sans-serif;
}

h3 a.sub-heading:hover{
	color:#D88BAF;
}
#nav-list a{
	color: #0f7fae;
	font-weight : bold;
	/*font-family: 'PT Sans Narrow', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
}

/*.removecaret.dropdown-toggle::after {
    display: none;
}*/

#nav-list a:hover{
  color: #D88BAF;
}

/*li.active a{
	color:#D88BAF !important;
}*/

/*.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(82,82,82, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.custom-toggler.navbar-toggler {
  border:1px solid #787878;
}

.custom-toggler.navbar-toggler:hover, .custom-toggler.navbar-toggler:visited, .custom-toggler.navbar-toggler:active {
  border:1px solid #ffffff;
}


.custom-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(216,139,175,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}*/

.fas.fa-bars {
  color:#D88BAF;
}
.fas.fa-bars:hover {
  color:#0f7fae;
}
button.navbar-toggler:focus{
	outline: none;
}

#footer-tile
{
	text-align: center;
	color: #ffffff;
	background-color: #D88BAF;
}